// Adjust column spacing for symmetry
$spacer           : 1rem;
$grid-gutter-width: $spacer * 1.5;

// Spacing variables for navigation
$topnav-base-height: 50px;
$footer-base-height: 50px;
$sidenav-base-width: 225px;
$sidenav-min-base-width: 70px;
$sidenav-minimized-base-width: 170px;
//-170