<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; MyApp 2020</div>
            <div>
                <a target="_blank" routerLink="/policies/privacy">Privacy Policy</a>
                &nbsp;&nbsp;
                <a target="_blank" routerLink="/policies/terms">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>